/* ~ Table of Contents ~
    1. Add Item
	2. Tab Input
	3. Date Picker
    4. Number Input
*/

.add-item {
    display: flex;
    gap: 0.4rem;
    margin-bottom: 1rem;
    padding: none !important;
    overflow:visible;
}
::-webkit-scrollbar {
    display: hidden;
    width: 0px;
    background: transparent; /* make scrollbar transparent */
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}

.group {
    display: flex;
    gap: 0.4rem;
}
// TAB INPUT
.selector {
    border: none;
    outline: none;
    background: $inputBg;
    border: $inputBg !important;
    color: #fff;
    border-radius: 0.3rem !important;
    .react-dropdown-select-clear,
    .react-dropdown-select-dropdown-handle {
        color: $lightText;
    }
    .react-dropdown-select-option {
        border: 1px solid #fff;
    }
    .react-dropdown-select-item {
        color: $inputBg;
    }
    .react-dropdown-select-input {
        color: #fff;
    }
    .react-dropdown-select-dropdown {
        display: flex;
        flex-direction: column;
        border-radius: 0.3rem;
        max-height: 300px;
        z-index: 9;
        background: $inputBg;
        box-shadow: none;
        margin-top: 0.4rem;
        box-shadow: 0 3px 0.6rem rgba(0, 0, 0, 0.5);
    }

    .react-dropdown-select {
        border-radius: 2rem !important;
    }

    .react-dropdown-select-item {
        color: #f2f2f2;
        border-bottom: 1px solid $inputBg;

        :hover {
            color: #ffffff80;
        }
    }

    .react-dropdown-select-item.react-dropdown-select-item-selected,
    .react-dropdown-select-item.react-dropdown-select-item-active {
        border-bottom: 1px solid $inputBg;
        color: #fff;
        font-weight: bold;
    }

    .react-dropdown-select-item.react-dropdown-select-item-disabled {
        background: #777;
        color: #ccc;
    }
    outline: none;
    border: none;
    overflow-x: none;
}

// DATE PICKER
.date-picker {
    //  @media screen and (max-width: 700px) {
    //     display: none;
    // }
    outline: 0px !important;
    & > * {
        border: 1px solid rgba(100, 100, 100, 0.1);
        border-radius: 0.3rem;
        box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.6);
        padding: 0.5rem;
        background-color: $inputBg;
        // border: 0px transparent !important;
    }
}

.date-picker-calendar {
    border: none;
    background-color: $bg;
}

// NUMBER INPUT

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
