@import "master.scss";

html,
body {
  background-color: $bg;
  // overflow: hidden;
  // overflow-x:initial;
  overflow: hidden !important;
  & > * {
    overflow: hidden !important;
  }
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: $regText;
  text-align: center;
  overflow: none !important;
}

.header {
  margin-top: 1rem;

  h1 {
    font-size: 1.7rem;
    color: $regText;
  }
  display: flex;
  text-align: left;
  width: calc(60%);
  margin-left: 3rem;
}

button {
  border: none;
  background-color: hsl(260, 7%, 13%);
  padding: 0.4rem;
  margin-top: 0.1rem;
  border-radius: 0.3rem;
  color: $lightText;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  margin: 0.5rem 0.3rem;
}


input {
  outline: none;
  border-radius: 0.3em;
  background: $inputBg;
  color: $lightText;
  border: 1px solid transparent;
  font-size: 1rem;
  padding: 0.5rem;

  &:focus {
    border-color: $lightText;
  }

  &[type="number"] {
    width: 2rem;
  }
  &[type="text"] {
    flex-grow: 1;
  }
}

.glassy {
  background: rgba(39, 39, 39, 0.8);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);

  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  max-height: 70vh;
  padding: 0.5rem;
}

.glassy-inner {
  border: 1px solid rgba(100, 100, 100, 0.1);
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.6);
}


.background-img {
  position: absolute;
  z-index: -1;
  max-height: 100vh;
  min-width: 100vw;
  filter: brightness(0.3) blur(5px);
  overflow: none !important;
}



@import "Item.scss";
@import "AddItem.scss";
