/* ~ Table of Contents ~
    1. Item List View
	2. Item List (Container)
	3. Item
    4. Edit Item
*/
svg {
    transition: all 0.1s ease;
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
    margin-right: 0.4rem;
}

.task-count {
    margin-right: 0.7rem;
}
.item-list-view {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
}

.items-container {
    padding: 0 0.5rem;
    flex-grow: 3;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }

    min-height: 2rem;
    transition: all 0.2s ease;
}

.item {
    padding: 0.8rem;
    margin: 0.5rem 0;
    display: flex;
    border-radius: 0.25rem;
    transition: all 0.2s;
    overflow: hidden;
    button {
        $buttonRadius: 15px;
        height: $buttonRadius;
        width: $buttonRadius;
        border-radius: 50%;
        border: none;
        background-color: #0f0a0f;
        &:hover {
            cursor: pointer;
        }
    }

    & > * {
        margin: 0 0;
    }

    .duration {
        color: $lightText;
        font-size: 0.7rem;
    }

    .text-wrapper {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        flex-direction: column;
    }

    .label {
        color: rgb(207, 207, 207);
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: capitalize;
    }

    .collapse {
        background-color: hsla(240, 16%, 7%, 0.3);
        color: hsl(240, 16%, 60%);
        width: fit-content;
        padding: 0.5rem;
        margin-top: 0.5rem;
        border-radius: 0.4rem;
        font-size: 0.7rem;
        transition: all ease 0.4s;
        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 0fr 1fr;
    grid-template-rows: 0fr 0fr;
    gap: -1px 0px;
    grid-template-areas:
        "completed-area title-area"
        ".              duration-area";
}
.completed-area {
    grid-area: completed-area;
}
.title-area {
    grid-area: title-area;
    height: min-content;
}
.duration-area {
    grid-area: duration-area;
}

.center-align {
    display: flex;
    align-items: center;
    &.tag {
        margin-left: auto;
    }
}
.tag {
    padding: 0.4em;
    border-radius: 0.4em;
    font-weight: 600;
    letter-spacing: -0.04rem;
    width: fit-content;
}

.edit-item {
    display: flex;
    flex-direction: column;
    
    .item-name {
        margin-top: 2.5rem;
        font-size: 1.3rem;
        font-weight: 600;
        text-transform: capitalize;
        max-width: 10ch;
        text-align: left;
    }
    .edit-item-section {
        display: flex;
        align-items: center;
        padding: 0.5rem;

        label {
            flex-basis: "content";
            font-weight: 700;
            margin-right: 0.5rem;
            min-width: 6ch;
        }
        :not(label) {
            // background-color: red;
            flex-grow: 1;
        }

        margin-bottom: 0.5rem;
    }
    p {
        margin-top: auto;
        align-self: center;
        justify-self: center;
        font-size: 0.7rem;
    }
}

.bottom-margin {
    margin-bottom: 0.5rem !important;
}


.parent-label {
    color: rgb(206, 206, 206) !important;
    font-weight: 700 !important;
    margin-right: 1rem;
}

.child {
    background: blue;
    margin: 0.5rem;
}

.lists {
    max-height: 560px;
    overflow-y: auto;
    padding-top: 1rem;
    padding: 0.5rem;

    margin-bottom: 0.5rem;
    overflow-y: hidden;
    border-radius: 0.5rem;
    &::-webkit-scrollbar {
        display: none;
    }
    display: flex;
    flex-wrap: wrap;
}

.view-section {
    margin: 0.5rem;
    min-width: 400px;
    flex-wrap: wrap;
}
