/* ~ Table of Contents ~
    1. Item List View
	2. Item List (Container)
	3. Item
    4. Edit Item
*/
svg {
    transition: all 0.1s ease;
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
    margin-right: 0.4rem;
}

.task-count {
    margin-right: 0.7rem;
}
.item-list-view {
    display: flex;
    justify-content: flex-start;
    position: relative;
    z-index: 0;
    // min-width: $minWidth;
    @media screen and (max-width: 700px) {
        flex-direction: column;
    }
}

.items-container {
    padding: 0 0.5rem;
    flex-grow: 3;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}

.item {
    padding: 0.8rem;
    margin: 0.5rem 0;
    display: flex;
    border-radius: 0.25rem;
    transition: all 0.2s;
    overflow: hidden;
    button {
        $buttonRadius: 15px;
        height: $buttonRadius;
        width: $buttonRadius;
        border-radius: 50%;
        border: none;
        background-color: #0f0a0f;
        &:hover {
            cursor: pointer;
        }
    }

    & > * {
        margin: 0 0;
    }

    .duration {
        color: $lightText;
        font-size: 0.7rem;
    }

    .text-wrapper {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        flex-direction: column;
    }

    .label {
        color: rgb(207, 207, 207);
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: capitalize;
    }

    .collapse {
        background-color: hsla(240, 16%, 7%, 0.3);
        color: hsl(240, 16%, 60%);
        // align-self: start;
        width: fit-content;
        padding: 0.5rem;
        margin-top: 0.5rem;
        border-radius: 0.4rem;
        font-size: 0.7rem;
        transition: all ease 0.4s;
        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "completed-area title-area"
        ".              duration-area";
}
.completed-area {
    grid-area: completed-area;
}
.title-area {
    grid-area: title-area;
}
.duration-area {
    grid-area: duration-area;
}

.center-align {
    display: flex;
    align-items: center;
    &.tag {
        margin-left: auto;
    }
}
.tag {
    padding: 0.4em;
    border-radius: 0.4em;
    font-weight: 600;
    letter-spacing: -0.04rem;
    width: fit-content;
}
.view-section {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    &:first-of-type {
        margin-left: 0;
    }
    &:last-of-type {
        margin-right: 0;
    }
}
.edit-item {
    display: flex;
    flex-direction: column;
    .item-name {
        font-size: 1.1rem;
        font-weight: 800;
        max-width: 10ch;
        text-align: left;
    }
    .item-duration {
        font-size: 1.4rem;
        max-width: 10ch;
        text-align: left;
    }
    .top-portion {
        margin-bottom: 1rem;
    }
    .edit-item-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.bottom-margin {
    margin-bottom: 0.5rem !important;
}

.add-subtask {
    width: fit-content !important;
    height: fit-content !important;
    border-radius: 0.3rem !important;
}


.parent-label {
    color: rgb(206, 206, 206) !important;
    font-weight: 700 !important;
    margin-right: 1rem;
}


.children {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
}


.child {
   background: blue;
   margin: 0.5rem;
}