$itemBg: rgb(50, 50, 50);
$itemBg2: hsl(210, 6%, 14%);
$lightText: rgb(155, 155, 155);
$bg: hsl(0, 0%, 5%);
$bg2: hsl(0, 0%, 7%);
body {
  background-color: $bg;

}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: rgb(222, 222, 222);
  text-align: center;
  // font-size: 1.2rem;
}

.add-item {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.4rem;
  padding: 0.4rem;
  border-radius: 0.4rem;
  background-color: $itemBg2;
  min-width: 31rem;
}

input {
  padding: 0.4rem;
  outline: none;
  border: solid 1px transparent;
  border-radius: 0.3em;
  background-color: $bg;
  color: $lightText;
  &:focus {
    border-color: $lightText;
  }

  &[type="number"] {
    width: 2rem;
    // margin-right: auto;
  }
  &[type=text] {
    flex-grow: 1;
    // background-color: blue;
  }
}
.items-container {
  margin-top: 2rem;
}

.item {
  background-color: $itemBg;
  padding: 0.8rem;
  margin: 0.4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  border-radius: 0.25rem;
  min-width: 30rem;
  transition: height 0.4s ease-in-out;
  min-height: 2.3rem;

  button {
    $buttonRadius: 15px;
    height: $buttonRadius;
    width: $buttonRadius;
    border-radius: 50%;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }

  .tag {
    padding: 0.4em;
    border-radius: 0.4em;
    font-weight: 600;
    letter-spacing: -0.04rem;
    margin-left: auto;
  }

  .duration {
    color: $lightText;
    font-size: 0.8rem;

  }

  .text-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
  }
  .label {
    font-size: 1.3rem;
    font-weight: 600;
  }
}

.focus-mode {
  border: none;
  background-color: hsl(260, 7%, 13%);
  // font-size: 0.5rem;
  padding: 0.4rem;
  margin-top: 0.5rem;
  border-radius: 0.3rem;
  color: $lightText;
  transition: all 0.4s ease-in-out;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
.selector {
  border: none;
  outline: none;
  background-color: green;
  background: #333;
  border: #333 !important;
  color: #fff;
  .react-dropdown-select-clear,
  .react-dropdown-select-dropdown-handle {
    color: #fff;
  }
  .react-dropdown-select-option {
    border: 1px solid #fff;
  }
  .react-dropdown-select-item {
    color: #333;
  }
  .react-dropdown-select-input {
    color: #fff;
  }
  .react-dropdown-select-dropdown {
    border: none;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    max-height: 300px;
    overflow: auto;
    z-index: 9;
    background: #333;
    box-shadow: none;
  }
  .react-dropdown-select-item {
    color: #f2f2f2;
    border-bottom: 1px solid #333;
       
    :hover {
       color: #ffffff80;
    }
  }
  .react-dropdown-select-item.react-dropdown-select-item-selected,
  .react-dropdown-select-item.react-dropdown-select-item-active {
    //background: #111;
    border-bottom: 1px solid #333;
    color: #fff;
    font-weight: bold;
  }
  .react-dropdown-select-item.react-dropdown-select-item-disabled {
    background: #777;
    color: #ccc;
  }
  outline: none;
  border: none;
}