$itemBg: rgb(50, 50, 50);
$itemBg2: hsl(210, 6%, 14%);
$lightText: rgb(155, 155, 155);
$bg: hsl(0, 0%, 5%);
$bg2: hsl(0, 0%, 7%);
$inputBg: #333;

body {
  background-color: $bg;
  overflow: hidden;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: rgb(222, 222, 222);
  text-align: center;
  overflow: none;
}

.header {
  margin-top: 1rem;
  h1 {
    font-size: 1.7rem;
    color: white;
    // mix-blend-mode: difference;
  }
  display: flex;
  min-width: 40%;
}
button {
  border: none;
  background-color: hsl(260, 7%, 13%);
  padding: 0.4rem;
  margin-top: 0.1rem;
  border-radius: 0.3rem;
  color: $lightText;
  transition: all 0.1s ease-in-out;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  margin: 0.5rem 0.3rem;
}

.add-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.4rem;
  min-width: 40%;
  // padding: 0.5rem;
}

input {
  outline: none;
  border: solid 1px transparent;
  border-radius: 0.3em;
  background: $inputBg;
  color: $lightText;

  font-size: 1rem;
  padding: 0.5rem;

  &:focus {
    border-color: $lightText;
  }

  &[type="number"] {
    width: 2rem;
  }
  &[type="text"] {
    flex-grow: 1;
  }
}

.glassy {
  background: rgba(39, 39, 39, 0.8);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);

  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  max-height: 70vh;
  padding: 0.5rem;
}

.glassy-inner {
  border: 1px solid rgba(100, 100, 100, 0.1);
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.6);
}

.items-container {
  margin-top: 1rem;
  min-width: 40%;
  padding: 0 0.5rem;
  // transition: all 1s ease-in-out;

  overflow-y: auto;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  // overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.item {
  background-color: $itemBg;
  padding: 0.8rem;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  border-radius: 0.25rem;
  transition: height 0.4s ease-in-out;
  min-height: 2.3rem;

  border: 1px solid rgba(100, 100, 100, 0.1);
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.6);

  button {
    $buttonRadius: 15px;
    height: $buttonRadius;
    width: $buttonRadius;
    border-radius: 50%;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }

  .tag {
    padding: 0.4em;
    border-radius: 0.4em;
    font-weight: 600;
    letter-spacing: -0.04rem;
    margin-left: auto;
  }

  .duration {
    color: $lightText;
    font-size: 0.8rem;
  }

  .text-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
  }

  .label {
    font-size: 1.3rem;
    font-weight: 600;
  }
}

.h-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selector {
  border: none;
  outline: none;
  background: $inputBg;
  border: $inputBg !important;
  color: #fff;
  border-radius: 0.3rem !important;
  .react-dropdown-select-clear,
  .react-dropdown-select-dropdown-handle {
    color: $lightText;
  }
  .react-dropdown-select-option {
    border: 1px solid #fff;
  }
  .react-dropdown-select-item {
    color: $inputBg;
  }
  .react-dropdown-select-input {
    color: #fff;
  }
  .react-dropdown-select-dropdown {
    border: none;
    display: flex;
    flex-direction: column;
    border-radius: 0.3rem;
    max-height: 300px;
    overflow: auto;
    z-index: 9;
    background: $inputBg;
    box-shadow: none;
    margin-top: 0.4rem;
    box-shadow: 0 3px 0.6rem rgba(0, 0, 0, 0.5);
  }
  .react-dropdown-select {
    border-radius: 2rem !important;
  }
  .react-dropdown-select-item {
    color: #f2f2f2;
    border-bottom: 1px solid $inputBg;

    :hover {
      color: #ffffff80;
    }
  }
  .react-dropdown-select-item.react-dropdown-select-item-selected,
  .react-dropdown-select-item.react-dropdown-select-item-active {
    border-bottom: 1px solid $inputBg;
    color: #fff;
    font-weight: bold;
  }
  .react-dropdown-select-item.react-dropdown-select-item-disabled {
    background: #777;
    color: #ccc;
  }
  outline: none;
  border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.background-img {
  position: absolute;
  z-index: -1;
  max-height: 100vh;
  min-width: 100vw;
  filter: brightness(0.3) blur(5px);
  overflow: hidden;
}

.date-picker {
  outline: 0px !important;
  & > * {
    border: 1px solid rgba(100, 100, 100, 0.1);
    border-radius: 0.3rem;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.6);
    padding: 0.5rem;
    background-color: $inputBg;
    // border: 0px transparent !important;
  }
}
.date-picker-calendar {
  border: none;
  background-color: $bg;
}
